@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDFCFC;
  --foreground: #181C14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181C14;
    --foreground: #FDFCFC;
    
  }
}

body {
  margin: 0 27%;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  
}

@media (min-width:120px) and (max-width:425px) {
    body{
      margin: 0 2%;
      overflow-x: hidden;
    }

}

@keyframes meteor-effect {
  0% {
    transform: translateY(0) translateX(0) rotate(225deg);
    opacity: 1;
  }
  100% {
    transform: translateY(60vh) translateX(50vw) rotate(225deg);
    opacity: 0;
  }
}

@layer utilities {
  .animate-meteor {
    animation: meteor-effect linear infinite;
  }
}
